<form class="newMessage" action="/new-message" method="POST">
    <div class="newMessageTextBox">
      <label for="messageText">Message:</label>
      <textarea id="messageText" name="message_text" rows="8" cols="50" required></textarea>
    </div>
    <button class="button-9" type="submit">Post</button>
</form>