<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
  <%- include('header') %>
  <div class="login-box">
    <h2>Sign Up</h2>
    <form class="sign-in" action="" method="POST" autocomplete="off">
      <div class="user-box">
        <input id="user_name" name="user_name" type="text" required=""/>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input id="password" name="password" type="password" required/>
        <label for="password">Password</label>
      </div>
      <div class="user-box">
        <input id="confirmPassword" name="confirmPassword" type="password" required/>
        <label for="confirmPassword">Confirm Password</label>
      </div>
      <div>
        <input type="checkbox" id="isAdmin" name="isAdmin" value="true" />
        <label for="isAdmin">Admin</label>
      </div>
      <button class="button-9">Sign Up</button>
    </form>
  </div>
  <% if (locals.errors) {%>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
  <% } %>
  <%- include('footer') %>
</body>
</html>
